body{
	background: $pocetna__bg;
	font-family: $roboto;
}
.wrapper{
	padding-top: 30px;
	padding-bottom: 0;
}

//BOOTSTRAP MENU // DVA IZBORNIKA ?
//https://github.com/understrap/understrap/issues/303
.dropdown:hover > .dropdown-menu {
    display: block;
}
.dropdown > .dropdown-toggle:active {
    /*Without this, clicking will make it sticky*/
    pointer-events: none;
}

/********************

	HEADER_STILOVI

**********************/

body #cover {
    padding: 60px 0;
    display: table;
    width: 100%;
    height: 100%;
    min-height: 100%;
   
    padding: 0 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    z-index: 3;
    -webkit-box-shadow: 3px -3px 16px 2px rgba(0,0,0,.35);
    box-shadow: 3px -3px 16px 2px rgba(0,0,0,.35);
    padding: 11em 0;
}

/********************

	NASLOV_STILOVI

**********************/

h1.naslovna {
    font-size: 4rem;
    
    color: var(--bijela);
    font-weight: 300;
}
.naslovna__ispod {
    font-size: 1.5rem;
    color: var(--bijela);
    font-weight: 300;
   // @include gradient-y(#418fde, #fdb927);
}

h2{
	font-weight: 300;
}

/********************

	NAVBAR_STILOVI

**********************/

.navbar{
	background: var(--siva_tamno);
	padding-bottom: 0;
	padding-top: 1rem;
	.nav-item{
		font-weight: bold;
		text-transform: uppercase;
		margin: 0 1rem;
		a{
			color:var(--bijela);

		}
		&:hover{
			    border-bottom: 5px solid var(--zelena);
		}
	}
	.active {
			color:var(--zelena);
			 border-bottom: 5px solid var(--zelena);			 
			 	.nav-link{
			 		color:var(--zelena);
			 	
			 }
		}
}


.card{
	background: none;
	border:none;
}

/* pomaknuti ontent gore*/;
div#content {
       margin-top: -9rem;
}

.navbar-brand{
	height: 85px;
    width: 250px;
    position: absolute;
}

/* Fixed/sticky icon bar (vertically aligned 50% from the top of the screen) */
.icon-bar {
  position: fixed;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

/* Style the icon bar links */
.icon-bar a {
  display: block;
  text-align: center;
  padding: 16px;
  transition: all 0.3s ease;
  color: white;
  font-size: 20px;
}

/* Style the social media icons with color, if you want */
.icon-bar a:hover {
  background-color: #000;
}

.facebook {
  background: #3B5998;
  color: white;
}

.twitter {
  background: #55ACEE;
  color: white;
}

.google {
  background: #dd4b39;
  color: white;
}

.linkedin {
  background: #007bb5;
  color: white;
}

.youtube {
  background: #bb0000;
  color: white;
}

/********************

	MISC_STILOVI

**********************/


.bijeli_broj{
	font-size: 1.5rem;
	color: var(--bijela);
	margin-bottom: 0;
}

.italic_slova{
	@include italic();
}
.zelena_bold_slova{
	@include zelena_bold();
}
.zelena{
	color: var(--zelena);
}

.traka_logo{
	background: var(--siva_tamno);
	height: 100px;
}
.btn-outline-secondary{
	padding: 0.5rem 2rem;
}

/********************

	HOME_SEKCIJE

**********************/

#home_1_pogodnosti{
	background: var(--zelena);
	@include padding(2rem);
	color: var(--siva_tamno);
	.card-title{
		color: var(--bijela);
		font-weight: 300;
	}
}

#home_2_dugorocni{
	color: var(--bijela);
	@include padding(3rem);
}
#home_3_flota{
	background: var(--bijela);
	@include padding(3rem);
	color: var(--siva_tamno);
}

#home_4_zatrazite{
	background: var(--zelena);
	@include padding(3rem);
	color: var(--siva_tamno);
}

#home_5_elektricna{
	@include padding(3rem);
	color: var(--bijela);
}

/********************

	LISTA_HOME

**********************/

ul.home_lista {
  list-style:none;
  padding-left: 0em;
  li {
  &:before {
    content: '';
    display: inline-block;
    height: 0.8em;
    width: 1.3em;
    //background-image: url(http://placehold.it/32?text=fallback); // Fallback PNG
    background-image: url("#{$urlsass}/home_strelica.svg");
    background-size: contain;
    background-repeat: no-repeat;
    margin-right:0.5em; 

  }
}

}
ul.home_lista2 {
  list-style:none;
  padding-left: 0em;
  li {
  &:before {
    content: '';
    display: inline-block;
    height: 0.8em;
    width: 1.3em;
    //background-image: url(http://placehold.it/32?text=fallback); // Fallback PNG
    background-image: url("#{$urlsass}/strelica_crna.svg");
    background-size: contain;
    background-repeat: no-repeat;
    margin-right:0.5em; 

  }
}

}

/********************

	HRV_SLO__SEKCIJE

**********************/

#hrv_slo_1_usluge{
	background: var(--zelena);
	@include padding(3rem);
}

#hrv_slo_2_lokacije{
	background: var(--siva_tamno);
	color: var(--bijela);
	@include padding(3rem);
}
#hrv_slo_3_drustvena{
	background: var(--bijela);
	@include padding(3rem);
}
#hrv_slo_4_reference{
	background: var(--zelena);
	@include padding(3rem);

}
#hrv_slo_5_mobilnost{
	@include padding(3rem);
	@include bg_repeat();
}


/********************

	AVANTOUR_SEKCIJE

**********************/

#avantour_2_usluge{
	background: var(--zelena);
	@include padding(3rem);
	color: var(--siva_tamno);
}

#avantour_3_vozila{
	background: var(--bijela);
	@include padding(3rem);
}
#avantour_4_vozite{
	@include padding_tb(10rem,10rem);
	color: var(--bijela);
	@include bg_repeat();
}
#avantour_5_destinacije{
	@include padding(3rem);
	@include sivi_gradijent();
	h5{
		font-weight: bold;
		margin-top: 1rem;
		margin-bottom: 0;
	}
}

/********************

	KONTAKT__SEKCIJE

**********************/

#kontakt_1_kucice{
	
	.col-md-4:nth-child(1){
		background: var(--siva_tamno);
		
		color: var(--bijela);
		@include padding_tb(4rem,2rem);	
	}
	.col-md-4:nth-child(2){
		background: var(--siva);
		@include padding_tb(4rem,2rem);	
	}
	.col-md-4:nth-child(3){
		background: var(--zelena);
		@include padding_tb(4rem,2rem);	
	}
}


#kontakt_2_mapa{
	.col-md-4:nth-child(1){
		
		@include padding_tb(4rem,2rem);	
	}
}


/********************

	D_NAJAM_VOZILA

**********************/
#d_najam_vozila{
	@include padding(3rem);
	background: var(--siva_tamno);
}

/********************

	FOOTER

**********************/

#wrapper-footer{
	background: var(--zelena);
	background-image: url("#{$urlsass2}/2018/09/footer_auto-8.png");
	background-repeat: no-repeat;
    background-position: center -126px;
    padding-top: 4rem;
    padding-bottom: 0;;
	//height: 50px;/
} 
/********************

	SVG__STILOVI

**********************/

.home_ikone{
	fill:  #fff;
	width: 80px;
	display: inline-flex;
  align-self: center;
}

.strelica{
	@include svg(var(--zelena),38px,inline-flex, center);	
	padding: 0.5rem;
   height: 38px;
}
.home_list{
	@include svg(var(--bijela),300px,inline-flex, center);
}
/*kontakt*/
.kontakt_email{
	@include svg(var(--bijela),70px,inline-flex, center);
}
.kontakt_mob{
	@include svg(var(--siva_tamno),50px,inline-flex, center);
}
.kontakt_auti{
	@include svg(var(--siva_tamno),160px,inline-flex, center);
}
/* hr i slo*/
.karta_hr{
	@include svg(var(--siva_tamno),300px,inline-flex, center);
	padding: 1rem 0;
}
.karta_slo{
	@include svg(var(--siva_tamno),300px,inline-flex, center);
	padding: 1rem 0;
}

.ref_globus{
	@include svg(var(--siva_tamno),100px,inline-flex, center);
}
.ref_zgrade{
@include svg(var(--siva_tamno),100px,inline-flex, center);
}
.ref_epruveta{
	@include svg(var(--siva_tamno),80px,inline-flex, center);
}
.ref_auti{
@include svg(var(--siva_tamno),100px,inline-flex, center);
}
.ref_akuml{
@include svg(var(--siva_tamno),100px,inline-flex, center);	
}

/*transferi*/

.avantour_avion{
	@include svg(var(--siva_tamno),100px,inline-flex, center);
}
.avantour_grad{
	@include svg(var(--siva_tamno),100px,inline-flex, center);
}
.avantour_lik{
	@include svg(var(--siva_tamno),80px,inline-flex, center);
}

.avantour_zero_logo{
	@include svg(var(--siva_tamno),80px,inline-flex, center);
}
.Pula{
	@include svg(var(--siva_tamno),140px,inline-flex, center);
	height: 100px;
} 
.Rijeka{
	@include svg(var(--siva_tamno),140px,inline-flex, center);
	height: 100px;
}
.Zadar{
	@include svg(var(--siva_tamno),140px,inline-flex, center);
	height: 100px;
}
.Split{
	@include svg(var(--siva_tamno),140px,inline-flex, center);
	height: 100px;
}
.Dubrovnik{
	@include svg(var(--siva_tamno),160px,inline-flex, center);
	height: 100px;
}

/********************

	CUSTOM_ROW_EL_
	za mobilnost i još jedan

**********************/

.example-container {
  width: 800px;
  @include make-container();
}

.example-row {
  @include make-row();
      align-items: flex-end;
}

.example-content-main {
  @include make-col-ready();

  @include media-breakpoint-up(sm) {
    @include make-col(6);
  }
  @include media-breakpoint-up(lg) {
    @include make-col(8);
  }
}

.example-content-secondary {
  @include make-col-ready();

  @include media-breakpoint-up(sm) {
    @include make-col(6);
  }
  @include media-breakpoint-up(lg) {
    @include make-col(4);
  }
}

svg.sidebar_dogovorite{
   width: 30px;
    fill: green;
    color: white; 
}

   

/*********

CARUSEL

********/

 ol.carousel-indicators {
    position: absolute;
    right: 0;
    top: -26px;
    left: 0;
    z-index: 15;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
       justify-content: space-between;
    padding-left: 0;
    margin-right: 15%;
    margin-left: 15%;
    list-style: none;
    height: 50px;
}   

ol.carousel-indicators li {
  width: 20px;
  height: 20px;
  border-radius: 100%;
}